html {
  margin: 0;
  padding: 0;
}

/* ****** */
body {
  background: #aaa;
}

.App {
  text-align: center;
}

.table-container {
  display: block;
  overflow: auto;
  max-height: 80vh;
}

.header-container {
  margin: 1em auto;
}

.add-button-container {
  margin: 1em auto;
}
