html {
  margin: 0;
  padding: 0;
}

/* ****** */
body {
  background: #aaa;
}

.App {
  text-align: center;
}

.table {
  /* margin: 2em; */
  /* overflow: auto !important;
  max-height: 68vh;
  display: table; */
  overflow: auto!important;
}

.container-fluid{
  overflow: auto!important;
}